[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
dj-rest-auth = "*"
celery = "*"

[dev-packages]
mypy = "*"
flake8 = "*"
isort = "*"
bandit = "*"
black = "*"
djangorestframework-stubs = "*"
django-stubs = "*"
pre-commit = "*"
pytest-django = "*"
factory-boy = "*"
faker = "*"
pytest-factoryboy = "*"
pytest-mock = "*"
types-six = "*"

[requires]
python_version = "3.10"
